[submodule "dep/hedge"]
	path = dep/hedge
	url = https://github.com/briar-systems/hedge
[submodule "dep/laurel"]
	path = dep/laurel
	url = https://github.com/briar-systems/laurel
[submodule "dep/graft"]
	path = dep/graft
	url = https://github.com/briar-systems/graft
[submodule "dep/std"]
	path = dep/std
	url = https://github.com/briar-systems/mach-std
[submodule "dep/crypto"]
	path = dep/crypto
	url = https://github.com/briar-systems/mach-crypto
[submodule "dep/tls"]
	path = dep/tls
	url = https://github.com/briar-systems/mach-tls
[submodule "dep/quic"]
	path = dep/quic
	url = https://github.com/briar-systems/mach-quic
[submodule "dep/acme"]
	path = dep/acme
	url = https://github.com/briar-systems/mach-acme
[submodule "dep/http"]
	path = dep/http
	url = https://github.com/briar-systems/mach-http
